html, body {
  /* disable scrolling */
  overflow: hidden;

  /* disable scalling */
  touch-action: none;

  /* disable select */
  user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

body {
  margin: 0;
  background-color: #faf5f0;

  /* text style */
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  color: #909090;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  vertical-align: middle;
}

p {
  margin: 0;

  /* text ellipsis */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overlay {
  /* overlay canvas */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
}

.icon-18 {
  font-size: 18px;
}

#container {
  top: 5%;
}

#plate {
  width: 300px;
}

#caption {
  display: block;
  /* text style */
  font-size: 16px;
  color: #707070;
}

#comment {
  display: block;
  /* text style */
  font-size: 12px;
}

#older {
  cursor: pointer;
  /* text style */
  font-size: 12px;
}

#newer {
  cursor: pointer;
  /* text style */
  font-size: 12px;
}

/* responsive layout styles */
@media screen and (max-width:600px) {
  #plate {
    width: 270px;
  }
}

@media screen and (max-width:350px) {
  #plate {
    width: 250px;
  }
}
